@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>The super hero community is growing at a rapid rate as more heroes continue to join the fight against evil. 
    With the mass amount of heroes, The Hub was created to be a central location for which heroes around the world 
    can communicate and discuess recent events.
</p>
